body {
    background-color: #73C6B6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#phonebookTitle {
    font-size: 45px;
    margin-left: 40px;
    margin-bottom: 0px;
}

#usernameBlock {
    font-size: 30px;
    height: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
}

#contact {
    background-color: white;
    margin: 15px;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #0E6655;
}

#name {
    margin: 0;
}

#contactAddBlock {
    text-align: center;
    margin-bottom: 40px;
}

#contactAddButton {
    font-size: 40px;
    text-align: center;
    color: #0E6655;
    background-color: white;
    border: 2px solid #0E6655;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
    width: 200px;
}

#contactAddButton:hover {
    background-color: #0E6655;
    color: white;
}

select {
    margin-top: 20px;
    font-size: 20px;
    color: #0E6655;
    background-color: white;
    border: 2px solid #0E6655;
    border-radius: 10px;
}

#searchField {
    margin-top: 20px;
    font-size: 20px;
    color: #0E6655;
    background-color: white;
    border: 2px solid #0E6655;
    border-radius: 10px;
}

#sortTypeLabel, #searchTypeLabel {
    font-size: 20px;
}

#sortTypeButton, #searchTypeButton {
    font-size: 20px;
    text-align: center;
    color: #0E6655;
    background-color: white;
    border: 2px solid #0E6655;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
}

#sortTypeButton:hover, #searchTypeButton:hover {
    background-color: #0E6655;
    color: white;
}

#contactNone {
    text-align: center;
}

#logoutBlock {
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
}

#deleteAccountBlock {
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

#deleteAccountButton {
    text-align: right;
    margin-right: 42px;
}

#cancelBlock {
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
}